<div class="highlight">
    <div class="highlight-show">
        <div class="highlight-items">
            <div class="highlight-item-logo">
                <img class="logo-spiderman" src="../../../assets/images/100fb50a-13ae-4c71-a110-34312471393c.png"/>
            </div>
            <div class="highlight-item-spiders">
                <img class="spiders" src="../../../assets/images/5ba451bd-29c3-41e5-8256-aa43f034e7be.avif">
            </div>
        </div>
    </div>
    <div class="highlight-details">
        <div class="title-and-button">
            <div class="highlight-title">
                <h1>Marvel's Spiderman 2</h1>
            </div>
            <div class="highlight-button">
                <button class="button">Pré-reserva agora</button>
            </div>
        </div>
        <div class="highlight-description">
            <p>Sejam Melhores. Juntos</p>
        </div>
    </div>
</div>

